.box {
    text-align: center;
    width: 50%;
    margin: auto;
}
.button {
    float: left;
    margin-top: 20px;
}
.table {
    width: 100%;
}
.table-border {
    border-bottom: 1px solid;
    padding-top: 20px;
}
.table-data {
    padding-top: 20px;
}
.inout-width {
    width : 90%;
}
.px10 {
    margin-right: 10px;
}